<!-- templates/home.html -->
{% extends "webscripts/_base.html" %}

{% block title %}Τμήμα Δ' - Πληροφορικής και Νέων Τεχνολογιών {% endblock title %}
    
{% block content %}
    <h1 style="text-align:center;"> Τμήμα Δ' - Πληροφορικής και Νέων Τεχνολογιών </h1>
    <br>
    <h5 style="text-align:center;"> Στην ιστοσελίδα αυτή θα βρείτε υπερσυνδέσμους για μερικές από τις εφαρμογές που έχουν αναπτυχθεί από το Τμήμα Δ' 
        για την υποστήριξη του έργου της Διεύθυνσής μας.
        
    </h5>
    <div class="accordion accordion-flush " id="accordionMenu">
        <a href="/" class="d-flex text-decoration-none">
            <!-- align-items-center pb-3 mb-3 link-body-emphasis text-white border-bottom -->
                <span class="fs-5 fw-semibold "><h3>Υπηρεσίες</h3></span>
        </a>
        {% for main_menu_entry in object_list %}
            <div class="accordion-item ">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapseAdministrative">
                        {{ main_menu_entry.formatted_markdown | safe }}
                    </button>
                </h2>
                <div id="flush-collapse-{{forloop.counter}}" class="accordion-collapse collapse" >
                    <div class="collapse show" id="home-collapse">
                        {{ main_menu_entry.formatted_markdown_application_list | safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}